html {
  background-image: url("dark.png");
  background-position: center fixed;
  background-size: cover;
}

body{
  margin:auto 0;
      overflow-y: hidden;

  overflow-x:hidden;   
}

#content {
  text-align: center;
}

#abel {
  position: relative;
  margin-top: 7%;
  left: 0;
  height: 600px;
  width: 600px;
}

#back {
  box-shadow: 0 0 50px #000;
  -webkit-filter: brightness(100%);
  transition: all 2s ease;
  position: absolute;
  top: 130px;
  margin-left: -600px;
  height: 600px;
  width: 600px;
}

#back:hover {
  -webkit-filter: brightness(400%);
}

#footer {
  font-family: arial;
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  color:white;
}

a{
  text-decoration: none;
  color:white;
}

a:visited{
  color:white;
}